.error-component {
	display: block;
	border: 1px solid #800;
	background: #300;
	padding: 12px;
	color: #f33;
	font-size: 18px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	max-height: 90%;
	overflow-y: auto;
	pointer-events: auto;
}

.error-component:hover {
	text-decoration: none;
}

.error-component__header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.3em;
}

.error-component__body {
	font-family: monospace;
}

.error-component__footer {
	margin-top: 0.5em;
	font-size: 0.8em;
}
