body,
#root,
.App {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.App {
	background-color: #000;
}

.App.dropping {
	background-color: #111;
}

.Body,
.BodyV {
	position: absolute;
	top: 0;
	bottom: 0;
	height: auto;
	left: calc(50% - 200vh / 3);
	width: calc(400vh / 3);
}

.Body .inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

@media (max-aspect-ratio: 640/480) {
	.Body {
		left: 0;
		right: 0;
		width: auto;
		top: calc(50% - 37.5vw);
		height: 75vw;
	}

	.BodyV {
		left: 0;
		right: 0;
		width: auto;
	}
}

.BodyV {
	pointer-events: none;
}

@media (min-aspect-ratio: 3/1) {
	.App.keyboard .Body .inner {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 75vw;
		height: 56.25vw;
		transform: translate(-50%, -70%);
	}
}

.App canvas {
	width: 100%;
	height: 100%;
	cursor: none;
	visibility: hidden;
}

.App.started canvas {
	visibility: visible;
}

.App .keyboard {
	position: absolute;
	pointer-events: auto;
	background: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	z-index: 100;
	display: none;
	cursor: none;
}

.App .keyboard::selection {
	background: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
}

.App.keyboard .keyboard {
	display: block;
}

.App a,
.App .link {
	display: inline-block;
	color: rgb(112, 112, 255);
	text-decoration: none;
	cursor: pointer;
}

.App a:hover,
.App .link:hover {
	text-decoration: underline;
}

.App .touch-ui {
	display: none;
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 25vh;
}

.App .touch-ui .touch-button {
	position: absolute;
	left: 50%;
	background-color: #444;
	transform: translate(-50%, -50%);
	pointer-events: auto;
	mask-size: 100% 100%;
}

.App .touch-ui .touch-button.active {
	background-color: #fff;
}

.App .touch-ui .touch-button-0 {
	top: 15vh;
}

.App .touch-ui .touch-button-1 {
	top: 35vh;
}

.App .touch-ui .touch-button-2 {
	top: 55vh;
}

.App .touch-ui .touch-button-3 {
	top: 70vh;
	left: 5vw;
}

.App .touch-ui .touch-button-4 {
	top: 70vh;
	left: 11vw;
}

.App .touch-ui .touch-button-5 {
	top: 85vh;
	left: 5vw;
}

.App .touch-ui .touch-button-6 {
	top: 85vh;
	left: 11vw;
}

.App .touch-ui.touch-mods {
	left: 0;
}

.App .touch-ui.touch-mods .touch-button {
	width: 15vh;
	height: 15vh;
	border-radius: 10vh;
}

.App .touch-ui.touch-mods .touch-button-0 {
	mask-image: url(./icons/move.svg);
}

.App .touch-ui.touch-mods .touch-button-1 {
	mask-image: url(./icons/rmb.svg);
}

.App .touch-ui.touch-mods .touch-button-2 {
	mask-image: url(./icons/shift.svg);
}

.App .touch-ui.touch-mods .touch-button-3 {
	mask-image: url(./icons/f5.svg);
}

.App .touch-ui.touch-mods .touch-button-4 {
	mask-image: url(./icons/f6.svg);
}

.App .touch-ui.touch-belt {
	right: 0;
}

.App .touch-ui.touch-belt .touch-button {
	width: 12vh;
	height: 12vh;
	font-size: 1vh;
	border-radius: 20%;
	overflow: hidden;
	background-color: #000;
	border: 2px solid #444;
}

.App .touch-ui.touch-belt .touch-button canvas {
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
}

.App .touch-ui.touch-belt .touch-button::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 20%;
	box-shadow: inset 0 0 1em 1.5em #000;
}

.App .touch-ui.fkeys-left {
	left: 0;
	top: auto;
	bottom: 0;
	height: 35vh;
}

.App .touch-ui.fkeys-left .touch-button {
	width: 15vh;
	height: 15vh;
	position: absolute;
	left: 50%;
	background-color: #444;
	transform: translate(-50%, -50%);
	pointer-events: auto;
	mask-size: 100% 100%;
}

.App .touch-ui.fkeys-left .touch-button.active {
	background-color: #fff;
}

.App .touch-ui.fkeys-left .touch-button-3 {
	top: 0;
	transform: translate(-50%, 0);
	mask-image: url(./icons/f5.svg);
}

.App .touch-ui.fkeys-left .touch-button-4 {
	top: 60%;
	mask-image: url(./icons/f6.svg);
}

.App .touch-ui.fkeys-right {
	left: auto;
	top: auto;
	right: 0;
	bottom: 0;
	height: 35vh;
}

.App .touch-ui.fkeys-right .touch-button {
	width: 15vh;
	height: 15vh;
	position: absolute;
	left: 50%;
	background-color: #444;
	transform: translate(-50%, -50%);
	pointer-events: auto;
	mask-size: 100% 100%;
}

.App .touch-ui.fkeys-right .touch-button.active {
	background-color: #fff;
}

.App .touch-ui.fkeys-right .touch-button-5 {
	top: 0;
	transform: translate(-50%, 0);
	mask-image: url(./icons/f7.svg);
}

.App .touch-ui.fkeys-right .touch-button-6 {
	top: 60%;
	mask-image: url(./icons/f8.svg);
}

.App.touch .touch-ui {
	display: block;
}

.App.touch.keyboard .touch-ui {
	display: none;
}

@media (max-aspect-ratio: 880/480) {
	.App .touch-ui {
		width: calc(50vw - 200vh / 3);
	}
}

@media (max-aspect-ratio: 832/480) {
	.App .touch-ui {
		width: 20vh;
	}
}

@media (max-aspect-ratio: 640/480) {
	.App .touch-ui {
		width: auto;
		height: 20vw;
	}

	.App .touch-ui .touch-button {
		top: 55%;
	}

	.App .touch-ui .touch-button-0 {
		left: 16.7vw;
	}

	.App .touch-ui .touch-button-1 {
		left: 50vw;
	}

	.App .touch-ui .touch-button-2 {
		left: 83.3vw;
	}

	.App .touch-ui.touch-mods {
		top: auto;
		right: 0;
	}

	.App .touch-ui.touch-mods .touch-button {
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
	}

	.App .touch-ui.touch-belt {
		bottom: auto;
		left: 0;
	}

	.App .touch-ui.touch-belt .touch-button {
		width: 14vw;
		height: 14vw;
		font-size: 1vw;
	}

	.App .touch-ui.fkeys-left {
		left: 0;
		bottom: 15vh;
		width: 50%;
		height: 12vh;
	}

	.App .touch-ui.fkeys-left .touch-button {
		height: 12vh;
		width: 12vh;
	}

	.App .touch-ui.fkeys-left .touch-button-3 {
		left: 25%;
	}

	.App .touch-ui.fkeys-left .touch-button-4 {
		top: 50%;
		left: 75%;
	}

	.App .touch-ui.fkeys-right {
		left: auto;
		right: 0;
		bottom: 15vh;
		width: 50%;
		height: 12vh;
	}

	.App .touch-ui.fkeys-right .touch-button {
		height: 12vh;
		width: 12vh;
	}

	.App .touch-ui.fkeys-right .touch-button-5 {
		left: 25%;
	}

	.App .touch-ui.fkeys-right .touch-button-6 {
		top: 50%;
		left: 75%;
	}
}

@media (max-aspect-ratio: 640/736) {
	.App .touch-ui {
		height: calc(50vh - 75vw / 2);
	}
}

@media (max-aspect-ratio: 640/800) {
	.App .touch-ui {
		height: 35vw;
	}
}
